<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content">
    <!-- Centered Title -->
    <div class="container my-5 text-center">

        <div class="container text-center my-5">
            <h2 class="text-success mb-4">🎉 Vous avez terminé cette tâche !</h2>
            <p class="lead">Merci pour votre annotation.</p>
            <a href="/user/" class="btn btn-primary mt-3">⬅️ Retour à la liste des tâches</a>
        </div>
    </div>
</div>
</body>
</html>